#upload-contig-area {
   text-align: center;
}

#upload-inset {
   position: relative;
}

.method {
   position: relative;
   display: none;
   text-align: initial;
}

.selected-method {
   display: block;
}

#manual-method-seqence-area {
   display: inline-block;
   text-align: center;
}

#manual-method-sequence {
   height: 275px;
}

#manual-method-details {
   display: inline-block;
   padding-left: 120px;
   padding-right: 120px;
}
