/** BEGIN DNA VIEWER **/
.dna-ruler {
   overflow: hidden;
}

.dna-ruler-tick {
   width: 96px;
   text-align: right;
   float: left;
   display: inline;
   margin: 0;
}

/**
 * The top dna has fairly complex overlay structure:
 *  z-index, desc
 *  0, base image
 *  1, exons
 *  2, boundary markers
 *  3, overlay
 *  4, selection
 */

#top-dna {
   height: 32px;
   width: 100%;
   background: transparent url('../images/straight_double_helix.png') repeat-x;
   position: relative;
   z-index: 0;
}

#top-dna-overlay {
   height: 32px;
   width: 100%;
   background: transparent;
   position: absolute;
   z-index: 3;
}

.top-dna-exon-marker {
   position: absolute;
   opacity: 0.4;
   background: purple;
   height: 16px;
   z-index: 1;
}

.top-dna-boundary-marker {
   position: absolute;
   opacity: 0.4;
   background: black;
   height: 32px;
   z-index: 2;
}

.top-dna-boundary-marker:after {
   content: '';
   position: absolute;
   height: 65px;
   width: 5px;
   background: black;
   opacity: 1;
   bottom: -10px;
}

.top-dna-boundary-marker-begin:after {
   right: 0;
}

.top-dna-boundary-marker-end:before {
   left: 0;
}

#dna-selection-draggable {
   background: transparent;
   border: 2px solid red;
   width: 20px;
   height: 28px;
   z-index: 4;
}

.draggable {
   float: left;
}

.annotation-data {
   margin-bottom: 25px;
   width: 450px;
   display: inline-block;
}

.annotation-data-left {
}

.annotation-data-right {
}

.annotation-data-button-area {
}

.annotation-data-button-area button {
   font-size: 24px;
   height: 36px;
   width: 200px;
   margin-left: 75px;
   margin-right: 75px;
}

.dna-closeup h2 {
   cursor: pointer;
}

.sequence-closeup {
   overflow: visible;
   margin-top: 20px;
   margin-left: 15px;
   margin-right: 15px;
}

.selected-nucleotide .nucleotide-base,
.selected-nucleotide .codon {
   outline: 2px solid purple;
   z-index: 6;
   -webkit-transform: scale(1.2, 1.2);
   transform: scale(1.2, 1.2);
   -moz-transform: scale(1.2, 1.2);
   -o-transform: scale(1.2, 1.2);
   -ms-transform: scale(1.2, 1.2);
}

.line-position-marker {
   position: absolute;
   top: -20px;
   left: -10px;
   font-size: 14px;
   color: white;
   text-shadow: 1px 1px black;
}

.nucleotide {
   display: inline-block;
   position: relative;
   font-size: 18px;
   color: #292929;
   text-align: center;
   cursor: pointer;
   text-shadow: initial;
}

.nucleotide-base {
   height: 20px;
   width: 19px;
   margin-bottom: 150px;
   position: relative;
}

.nucleotide:hover .nucleotide-base {
   outline: 2px solid black;
   z-index: 6;
   -webkit-transform: scale(1.2, 1.2);
   transform: scale(1.2, 1.2);
   -moz-transform: scale(1.2, 1.2);
   -o-transform: scale(1.2, 1.2);
   -ms-transform: scale(1.2, 1.2);
}

.nucleotide:hover:before {
   content: '';
   position: absolute;
   top: -10px;
   left: 0;
   z-index: 20;
   width: 0;
   height: 0;
   opacity: 0.8;
   border: 10px solid black;
   border-left-color: transparent;
   border-right-color: transparent;
   border-bottom-color: transparent;
}

.nucleotide:hover:after {
   content: attr(data-position);
   position: absolute;
   top: -30px;
   left: -5px;
   border-radius: 5px;
   opacity: 0.8;
   font-size: 10px;
   text-align: center;
   height: 10px;
   min-width: 20px;
   padding: 5px;
   color: white;
   background: black;
}

.exonStart .nucleotide-base,
.exonEnd .nucleotide-base,
.exonStart .codon,
.exonEnd .codon {
   outline: 2px solid purple;
   z-index: 6;
   -webkit-transform: scale(1.2, 1.2);
   transform: scale(1.2, 1.2);
   -moz-transform: scale(1.2, 1.2);
   -o-transform: scale(1.2, 1.2);
   -ms-transform: scale(1.2, 1.2);
}

.exonStart:after,
.exonEnd:after {
   position: absolute;
   top: -30px;
   border-radius: 5px;
   opacity: 0.8;
   font-size: 10px;
   text-align: center;
   height: 10px;
   min-width: 20px;
   padding: 5px;
   color: white;
   background: purple;
}

.exonStart:after {
   content: "BEGIN";
   left: -10px;
}

.exonEnd:after {
   content: "END";
   left: -7px;
}

.exonStart:before, .exonEnd:before {
   content: '';
   position: absolute;
   top: -10px;
   left: 0;
   z-index: 20;
   width: 0;
   height: 0;
   opacity: 0.8;
   border: 10px solid purple;
   border-left-color: transparent;
   border-right-color: transparent;
   border-bottom-color: transparent;
}

.nucleotide-A {
   background: #64F73F;
}

.nucleotide-C {
   background: #FFB340;
}

.nucleotide-G {
   background: #EB413C;
}

.nucleotide-T {
   background: #3C88EE;
}

.nucleotide:hover .codon {
   outline: 2px solid black;
   z-index: 6;
}

.codon {
   position: absolute;
   width: 60px;
   z-index: 5;
}

.codon-window-0 {
   top: 35px;
}

.codon-window-1 {
   top: 70px;
}

.codon-window-2 {
   top: 105px;
}

/**
 * Colors from:
 *  http://life.nthu.edu.tw/~fmhsu/rasframe/COLORS.HTM
 */
.codon-ASP, .codon-GLU {
   background: rgb(230, 10, 10);
}

.codon-LYS, .codon-ARG {
   background: rgb(20, 90, 255);
}

.codon-PHE, .codon-TYR {
   background: rgb(50, 50, 170);
}

.codon-GLY {
   background: rgb(235, 235, 235);
}

.codon-ALA {
   background: rgb(200, 200, 200);
}

.codon-HIS {
   background: rgb(130, 130, 210);
}

.codon-CYS, .codon-MET {
   background: rgb(230, 230, 0);
}

.codon-SER, .codon-THR {
   background: rgb(250, 150, 0);
}

.codon-ASN, .codon-GLN {
   background: rgb(0, 220, 220);
}

.codon-LEU, .codon-VAL, .codon-ILE {
   background: rgb(15, 130, 15);
}

.codon-TRP {
   background: rgb(180, 90, 180);
}

.codon-PRO {
   background: rgb(220, 150, 130);
}

.codon-STOP {
   color: white;
   background: black;
}

/** END DNA VIEWER **/

.exon {
   margin-bottom: 10px;
}

.exon span {
   margin-left: 10px;
}

#add-exon-area span {
   margin-left: 10px;
}

#gene-diagram {
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
}

.gene-diagram-element {
   display: inline-block;
   margin-bottom: 20px;
}

.gene-diagram-exon {
   min-width: 100px;
   background: #C22121;
   padding: 5px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #888;
}

.gene-diagram-intron {
   padding-top: 12px;
   padding-bottom: 12px;
   width: 85px;
}

.gene-diagram-intron-line {
   height: 11px;
   background: black;
   width: 100%;
   box-shadow: 2px 2px 2px #888;
}

.gene-diagram-start-exon {
}

.gene-diagram-exon-begin,
.gene-diagram-exon-end {
   height: 25px;
   font-size: 20px;
   display: inline;
}

.gene-diagram-exon-begin {
   float: left;
   margin-right: 20px;
}

.gene-diagram-exon-end {
   float: right;
}
