#bio-info {
   overflow: hidden;
}

#profile-user-pic-area {
   background: #395668;
   width: 200px;
   height: 200px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #888;
   display: inline-block;
   float: left;
   margin-right: 20px;
}

#profile-user-info-area {
   display: inline-block;
   float: right;
   background: #395668;
   width: 250px;
   height: 200px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #888;
}

#profile-user-info-area {
   color: #E2E2E2;
   text-shadow: 1px 1px black;
   font-size: 24px;
   text-align: center;
}

#profile-user-pic {
   background: white;
   border-radius: 5px;
}

#profile-user-stats {
   background: #395668;
   width: 450px;
   height: 200px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #888;
   display: inline-block;
   float: left;
}

.profile-entry {
   border-radius: 10px;
   box-shadow: 1px 1px 2px #888;
   margin-top: 10px;
   padding: 10px;
   color: black;
   text-shadow: initial;
}

.profile-entry span {
   margin-right: 20px;
}

.notification {
   background: #00FF3D;
}

.partial {
   background: #E1EE48;
}

.recent {
   background: #CC9860;
}

.cancel-button {
   height: 20px;
   width: 20px;
   cursor: pointer;
   background: url('../images/cancel.png');
   display: inline;
   float: right;
   margin-left: 30px;
   margin-right: 10px;
}

.annotate-button {
   height: 20px;
   width: 63px;
   cursor: pointer;
   background: url('../images/annotate.png');
   display: inline;
   float: right;
}

.group-tag {
   background: #DEB3E4;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #888;
   display: inline-block;
}

.group-tag a {
   text-decoration: none;
   color: #382D18;
}
