html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
}

html {
   /*
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   font-family: Copperplate, "Copperplate Gothic Light", fantasy;
   */
   font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
   width: 100%;
   height: 100%;
   /*background: #C0C0C0;*/
   background: #C6C9C0;
}

h2 {
   font-size: 24px;
   margin-bottom: 10px;
}

a {
   text-decoration: none;
}

.debug {
   background: #d87d86;
   display: none;
}

.logout-link {
   color: blue;
   cursor: pointer;
}

#overlay {
   position: fixed;
   height: 100%;
   width: 100%;
   z-index: 50;
   background: rgba(136, 136, 136, 0.7);
   top: 0;
   left: 0;
}

#modal {
   background: white;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   border-radius: 10px;
   padding: 10px;
}

.loading-modal {
   text-align: center;
}

.loading-modal p {
   font-size: 32px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.loading-modal-image {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
}

.modal-content {
   text-align: center;
}

.modal-content h1 {
   font-size: 36px;
}

.error-modal-content h1 {
   color: red;
}

.modal-content p {
   font-size: 24px;
   color: black;
}

#header {
   overflow: none;
}

.logo-link {
   overflow: hidden;
   display: inline-block;
}

#top-title {
   display: inline-block;
   width: 350px;
   text-align: center;
   margin-left: 50px;
   font-size: 40px;
   vertical-align: top;
}

#top-subtitle-text {
   font-size: 20px;
}

#top-nav {
   width: 150px;
   float: right;
}

.nav ul {
   list-style: none;
}

.nav a {
   text-decoration: none;
}

.nav {
   display: inline-block;
}

#bottom-nav li {
   display: inline-block;
   margin-right: 15px;
}

#colophon {
   display: inline-block;
   float: right;
}

.top-level-area {
   position: relative;
   width: 1000px;
   background: #B0C4DE;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
}

.second-level-area {
   position: relative;
   background: #395668;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
   color: #E2E2E2;
   text-shadow: 1px 1px black;
}

.second-level-area h2 {
   cursor: pointer;
}

.second-level-inset {
   width: 940px;
   background: lightSteelBlue;
   border-radius: 10px;
   box-shadow: -2px -2px 5px #888;
   margin: 10px;
   padding: 10px;
   color: black;
   text-shadow: 1px 1px #888;
   overflow: hidden;
}

.second-level-area .second-level-inset input,
.second-level-area .second-level-inset textarea {
   background: #395668;
   color: white;
}

.second-level-area .second-level-inset button {
   background: #395668;
   color: white;
   text-shadow: initial;
}

.second-level-area .second-level-inset button:hover {
   background: #133044;
}

.second-level-area .second-level-inset button:active {
   background: #34444E;
}


.collapse-button {
   display: inline-block;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 10px;
   border-color: black transparent transparent transparent;
   margin-right: 20px;

   -webkit-transform: translateY(5px);

   -webkit-transition: all 0.25s;
   transition: all 0.25s;
   -moz-transition: all 0.25s;
   -o-transition: all 0.25s;

   /* Move the rotation orgin to the center of the arrow. */
   /*
   transform-origin: 50% 25%;
   -ms-transform-origin: 50% 25%;
   -webkit-transform-origin: 50% 25%;
   -moz-transform-origin: 50% 25%;
   -o-transform-origin: 50% 25%;
   */
}

.collapse-on {
   -webkit-transform: rotate(-90deg) translateY(5px);
   transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
}

.collapsing-area {
   -webkit-transition: opacity 0.25s;
   transition: opacity 0.25s;
   -moz-transition: opacity 0.25s;
   -o-transition: opacity 0.25s;
   opacity: 1;
   visibility: visible;
}

/* This must be after .collapsing-area */
.collapse {
   visibility: hidden;
   opacity: 0;
   height: 0;
}

.validation-error {
   position: relative;
}

.validation-error:after {
   content: attr(data-validation-error);
   position: absolute;
   top: 20px;
   left: 0;
   z-index: 20;
   opacity: 0.75;
   background: red;
   color: black;
   font-size: 14px;
   border-radius: 5px;
   padding: 5px;
   text-shadow: initial;
}

.second-level-area input {
   border: none;
   background: lightSteelBlue;
   border-radius: 5px;
   box-shadow: 1px 1px 1px #888;
   padding-left: 5px;
}

/* It seems that these can only be moved together. */
.second-level-area input[type='number']::-webkit-outer-spin-button,
.second-level-area input[type='number']::-webkit-inner-spin-button {
   right: 5px;
}

.second-level-area button {
   border-radius: 10px;
   box-shadow: 2px 2px 2px #888;
   background: lightSteelBlue;
   vertical-align: middle;
   border: none;
   height: 24px;
   color: black;
   text-shadow: 1px 1px white;
}

.second-level-area button:hover {
   background: #5B6775;
}

.second-level-area button:active {
   background: #2B2B2B;
   color: white;
   text-shadow: 1px 1px black;
}

.second-level-area button:disabled {
   background: lightSteelBlue;
   opacity: 0.25;
}

/** These are buttons that live in the top level area and have the same color
    scheme as the second level */
.second-level-button {
   font-size: 24px;
}

.second-level-button:hover {
   background: #133044;
}

.second-level-button:active {
   background: #34444E;
}

.second-level-area textarea {
   resize: none;
   overflow: auto;
   height: 3em;
   width: 30em;
   background: lightSteelBlue;
   border: none;
   border-radius: 5px;
}

/* These buttons span the whole top-level. */
.full-second-level-button {
   width: 1000px;
}

.input-align-kids-field {
   margin-bottom: 25px;
   min-width: 275px;
   min-height: 50px;
   display: block;
   overflow: hidden;
}

.input-align-kids-field span {
   float: left;
}

.input-align-kids-field input,
.input-align-kids-field textarea {
   float: right;
}
