html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
}

html {
   font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

body {
   width: 100%;
   height: 100%;
   /*background: #C0C0C0;*/
   background: #c2d995;
}

.debug {
   background: #d87d86;
   display: none;
}

#header {
}

.logo-link {
   overflow: hidden;
   display: inline-block;
}

#top-title {
   display: inline-block;
   width: 300px;
   text-align: center;
   margin-left: 50px;
   font-size: 40px;
   vertical-align: top;
}

#top-subtitle-text {
   font-size: 20px;
}

#top-nav {
   width: 150px;
   float: right;
}

.nav ul {
   list-style: none;
}

.nav a {
   text-decoration: none;
}

.nav {
   display: inline-block;
}

#bottom-nav li {
   display: inline-block;
   margin-right: 15px;
}

#colophon {
   display: inline-block;
   float: right;
}

.top-level-area {
   position: relative;
   width: 1000px;
   /*background: #B0C4DE;*/
   background: #B0C4DE;
   /*background: #ffffff;*/
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
}

.second-level-area {
   position: relative;
   /*background: #C0C0C0;*/
   background: #395668;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
   color: #E2E2E2;
}

.collapse-button {
   display: inline-block;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 10px;
   border-color: black transparent transparent transparent;
   -webkit-transition: all 0.25s;
   transition: all 0.25s;
   -moz-transition: all 0.25s;
   -o-transition: all 0.25s;
}

.collapse-on {
   -webkit-transform:rotate(-90deg);
   transform:rotate(-90deg);
   -ms-transform:rotate(-90deg);
   -moz-transform:rotate(-90deg);
   -o-transform:rotate(-90deg);
}
