html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
}

html {
   font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

body {
   width: 100%;
   height: 100%;
   /*background: #C0C0C0;*/
   background: #c2d995;
}

.debug {
   background: #d87d86;
   display: none;
}

.logo-link {
   overflow: hidden;
   display: inline-block;
}

#top-nav {
   float: right;
}

.nav ul {
   list-style: none;
}

.nav a {
   text-decoration: none;
}

.nav {
   display: inline-block;
}

#bottom-nav li {
   display: inline-block;
}

#colophon {
   display: inline-block;
   float: right;
}

.top-level-area {
   position: relative;
   width: 1000px;
   /*background: #B0C4DE;*/
   background: #B0C4DE;
   /*background: #ffffff;*/
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
}

.second-level-area {
   position: relative;
   /*background: #C0C0C0;*/
   background: #395668;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #888;
}
